#footer {
	margin-top: 1rem;
	margin-left: unset;

	background-color: #f9fafb;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	height: 35px;
	.footer-fm-instance {
		padding-top: 0.5%;
		padding-left: 20px;
		width: 212px;
		height: 19px;
		font-family: 'Nunito Sans';
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.13px;
		color: $color-neutral-8;
		.footer-fm-key {
			font-weight: bold;
		}
		.footer-fm-value {
			padding-left: 0.5%;
		}
	}
	.footer-last-sync {
		padding-top: 0.5%;
		text-align: center;
		width: 218px;
		height: 19px;
		font-family: 'Nunito Sans';
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.13px;
		color: $color-neutral-8;
		.footer-last-sync-key {
			font-weight: bold;
		}
		.footer-last-sync-value {
			padding-left: 1%;
		}
	}
	.footer-NRT {
		padding-top: 0.5%;
		text-align: end;
		width: 170px;
		height: 19px;
		font-family: 'Nunito Sans';
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.13px;
		color: $color-neutral-8;
		.footer-NRT-key {
			font-weight: bold;
		}
		.footer-NRT-value {
			padding-left: 1%;
		}
	}
	.filter-dropdown {
		padding: 0 16px;
		min-width: 250px;
		padding-left: 20px;
		height: 19px;
		font-family: 'Nunito Sans';
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.13px;
		color: $color-neutral-8;
	}

	.filter-label {
		font-weight: bold;
	}
}
