.dropdown-btn {
	.dropdown-toggle {
		background-color: $color-white !important;
		border-color: $button-border !important;
		color: $color-grey-7;
		&.btn-primary {
			color: $color-grey-7;
		}
		&:hover {
			color: $dark-cyan-blue;
		}
	}
	.dropdown-menu {
		border: solid 1px $text-blue;
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
		.dropdown-item {
			color: $cool-grey8;
			font-weight: 400;
			line-height: 30px;
			&.disabled {
				color: $color-chinese-silver !important;
			}
			&:active {
				color: $cool-grey8;
				background-color: $color-cyan-blue;
			}
		}
	}
}
