#progress-bar {
	//Your style goes here
	height: 8px;
	margin-left: -2px;
	&.progress {
		background-color: transparent;
		border-radius: 0px;
	}
	.progress-bar {
		height: 40%;
		position: relative;
		top: 15%;
		background-color: #7cd2ff;
		-moz-box-shadow: #29d 1px 0 6px 1px;
		-ms-box-shadow: #29d 1px 0 6px 1px;
		-webkit-box-shadow: #29d 1px 0 6px 1px;
		box-shadow: #29d 1px 0 6px 1px;
	}
}
