#option-dropdown-menu {
	.show {
		opacity: 1 !important;
		pointer-events: auto !important;
		z-index: 100 !important;
	}
	.dropdown-option-toggle:before {
		content: '\2807';
		font-size: 15px;
		border: 0px;
	}
	button {
		border: none;
		background-color: inherit !important;
		font-size: 16px;
		height: 25px;
		cursor: pointer;
		display: inline-block;
	}
	.btn:hover,
	.btn:active.btn:focus {
		box-shadow: none !important;
	}
	.btn-primary:focus,
	.btn-primary.focus {
		box-shadow: none !important;
	}
}
