.custom-switch {
	padding-left: 2.25rem;
	&.custom-control {
		position: relative;
		display: block;
		min-height: 1.5rem;
		padding-left: 1.5rem;
		color-adjust: exact;

		.custom-control-input {
			position: absolute;
			left: 0;
			z-index: -1;
			width: 1rem;
			height: 1.25rem;
			opacity: 0;
			transition: background-image 0.2s ease-in-out, border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
			box-sizing: border-box;
			padding: 0;
			&:checked {
				& ~ .custom-control-label::before {
					color: #fff;
					border-color: rgb(49, 155, 245);
					background-color: rgb(49, 155, 245);
				}
				& ~ .custom-control-label::after {
					transform: translateX(0.75rem);
				}
			}
			&:disabled {
				& ~ .custom-control-label::before {
					border-color: $cool-grey4;
					background-color: #fff;
				}
				& ~ .custom-control-label::after {
					background-color: $cool-grey4;
					transform: translateX(0.75rem);
				}
			}
		}
		.custom-control-label {
			position: relative;
			margin-bottom: 0;
			vertical-align: top;
			display: inline-block;

			&::before {
				position: absolute;
				cursor: pointer;
				top: 0.25rem;
				left: -2.25rem;
				display: block;
				width: 1.75rem;
				height: 1rem;
				content: '';
				background-color: rgb(211, 221, 229);
				border: rgb(211, 221, 229) solid 1px;
				border-radius: 0.5rem;
				pointer-events: all;
				transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
					box-shadow 0.15s ease-in-out;
			}
			&::after {
				position: absolute;
				cursor: pointer;
				left: -1.5rem;
				display: block;
				content: '';
				background: 50% / 50% 50% no-repeat;
				top: calc(0.25rem + 2px);
				left: calc(-2.25rem + 2px);
				width: calc(1rem - 4px);
				height: calc(1rem - 4px);
				background-color: #fff;
				border-radius: 0.5rem;
				transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out,
					border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
			}
		}

		&.large {
			.custom-control-label {
				&::before {
					top: 0.25rem;
					left: -2.25rem;
					display: block;
					width: 3.5rem;
					height: 2rem;
					border-radius: 1.25rem;
				}

				&::after {
					width: calc(2rem - 4px);
					height: calc(2rem - 4px);
					border-radius: 50%;
				}
			}

			.custom-control-input {
				width: 2.5rem;
				height: 2.25rem;

				&:checked ~ .custom-control-label::after {
					left: calc(-1rem - 6px);
				}
			}
		}
	}
}
