.app-btn {
	&:not(:disabled):not(.disabled):active {
		background-color: $white !important;
	}
	&:hover {
		background-color: $white;
		color: #212529;
	}
	&.btn {
		color: $color-grey-7;
		height: 36px;
		line-height: 20px;
		border-radius: 1.125rem;
		border: solid 2px $button-border;
		min-width: 5em;
		background: transparent;

		&:hover {
			box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
		}

		&:focus {
			box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16) !important;
		}

		&:active {
			color: $color-grey-7;
			background-color: unset !important;
			border: solid 2px $button-border !important;
		}

		&:disabled,
		&[disabled] {
			color: $color-grey-3;
		}

		&.dropdown-toggle {
			min-width: inherit;
		}

		.caret {
			margin-left: 80px;
		}
	}
}
